body {
  color: red;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
#container {
  width: 70%;
  padding: 0rem;
  text-align: left;
  border: 1px solid #ddd;
  margin: 0 auto;
}
#post {
  padding: 1rem;
}
#container h1 {
  font-size: 20px;
}
#cabecera {
  background-color: #33a;
  color: white;
  margin: 0;
  padding: 0.5rem;
  font-weight: bold;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
}
#cabecera #tagline {
  margin: 0 0 0 1rem;
  font-weight: normal;
  font-size: 0.8rem;
}
